<section class="thirteen columns">
    <h1>Education</h1>
    
    <article>
        <header>
            <h1>BSc. in Computing Science</h1>
            <span>University of Alberta</span>
            <span><address>Edmonton, AB</address><time>2007 to 2011</time></span>
        </header>
        
    </article>
    
    <article>
        <header>
            <h1>Machine Learning Technician</h1>
            <span>Alberta Machine Intelligence Institute (AMII)</span>
            <span><address>Edmonton, AB</address><time>2020</time></span>
        </header>
    </article>

</section>
