<section class="thirteen columns">

    <h1>Employment</h1>

    <article>
        <header>
            <h1>Technician</h1>
            <span><address>Shaw Communications</address><time>2009 to 2020</time></span>
        </header>
        <ul>
            <li>Technician Level III - Team Mentor and Trainer </li>
        </ul>
    </article>

    <article>
        <header>
            <h1>System Analyst</h1>
            <span><address>Haemonetics Software Solutions</address><time>2005 to 2009</time></span>
        </header>
        <p>
            <ul>
                <li>System Analyst II</li>
            </ul>
        </p>
    </article>

</section>
