<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}


    <div class="container">

      <header class="three columns">
          <img src="{{ site.baseurl }}static/img/profile.png" class="me">
  
          {%- if site.website_full -%}
          <p>
              <a href="{{ site.website_full }}">{{ site.website }}</a><br/>
          </p>
          {%- endif -%}
  
          <p>
              <a href="{{ site.email_full }}" target="_blank">{{ site.email }}</a>
              <a href="https://{{ site.github_site }}" target="_blank">{{ site.github_site }}</a>
          </p>
      </header>
  
      
      <div class="thirteen columns clearfix" >
      <section class="thirteen columns">

        {{ content }}
      </section>
      </div>

    </div>

    {%- include footer.html -%}

  </body>

</html>

